<div class="user-profile">
    <span class="hello-user">Hola, {USERNAME}</span>
    <div class="profile-circle">
        <p><a href="proyectoFinal2.php?action=perfil">Perfil aqui</a></p>
            <img src="path_to_profile_picture" alt="Perfil" />
        </a>
    </div>
    <div class="notifications">
        <span>{NOTIFICACIONES}</span>
    </div>
</div>

<div class="search-bar">
    <input type="text" placeholder="Buscar usuarios..." />
    <button type="submit">Buscar</button>
</div>

<footer>
    <p>&copy; Universidad Iberoamericana - Sistema de Transporte</p>
</footer>