<form action="proyectoFinal.php" method="post">
    <input type="hidden" name="action" value="editar">
    <input type="hidden" name="usuarioId" value="ID_USUARIO"> <!-- Este campo oculto deberá contener el ID del usuario a editar -->
    <input type="text" name="nombre" placeholder="Nombre" value="NOMBRE_USUARIO" required>
    <input type="text" name="apellido" placeholder="Apellido" value="APELLIDO_USUARIO" required>
    <input type="email" name="email" placeholder="Correo electrónico" value="EMAIL_USUARIO" required>
    <input type="text" name="username" placeholder="Nombre de usuario" value="USERNAME_USUARIO" required>
    <input type="password" name="password" placeholder="Contraseña" required>
    <!-- Añadir más campos según sea necesario -->
    <button type="submit">Actualizar</button>
</form>

<script src="js/editarUsuario.js"></script>