<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Favoritos</title>
    <link rel="stylesheet" href="./css/estilos.css">
    <script src="js/funciones.js"></script>
</head>
<body>
    <div class="favorites-container">
        <h2>Usuarios Favoritos</h2>
        <ul>
            <!-- Lista de usuarios favoritos -->
            <li><a href="perfil_usuario.html?usuario_id=1">Usuario 1</a></li>
            <li><a href="perfil_usuario.html?usuario_id=2">Usuario 2</a></li>
            <li><a href="perfil_usuario.html?usuario_id=3">Usuario 3</a></li>
            <!-- Puedes repetir la estructura <li> para mostrar más usuarios -->
        </ul>
    </div>
</body>
</html>
