<div class="search-history-container">
    <div class="search-history-header">
        <h2>Historial de Búsqueda</h2>
    </div>
    <div class="search-history-list">
        <!-- Aquí se mostrará el historial de búsqueda -->
        <div class="search-history-item">
            <h3>Usuario buscado 1</h3>
            <span class="search-date">Fecha: 2024-05-06</span>
        </div>
        <div class="search-history-item">
            <h3>Usuario buscado 2</h3>
            <span class="search-date">Fecha: 2024-05-05</span>
        </div>
        <!-- Agrega más elementos de historial de búsqueda según sea necesario -->
    <div class="profile-actions">
            <a href="notificaciones.html" class="action-link">
                <p><a href="proyectoFinal2.php?action=notificaciones">Notificaciones</a></p>
                <!--<img src="path_to_notifications_icon" alt="Notificaciones">-->
            </a>
            <a href="favoritos.html" class="action-link">
                <p><a href="proyectoFinal2.php?action=favoritos">Favoritos</a></p>
            </a>
            <a href="historial.html" class="action-link">
                <p><a href="proyectoFinal2.php?action=historial">Historial</a></p>
            </a>
            
    </div>