<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form action="proyectoFinal.php" method="get">
        <input type="hidden" name="action" value="login">
        <input type="text" name="username" placeholder="Nombre de usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <div class="error-message">{ERROR}</div>
        <button type="submit" name="loginBot">Iniciar Sesión</button>
    </form>
    <p>¿No tienes una cuenta? <a href="proyectoFinal.php?action=register">Regístrate aquí</a></p>
</div>