<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Notificaciones</title>
    <link rel="stylesheet" href="./css/estilos.css">
    <script src="js/funciones.js"></script>
</head>
<body>
    <div class="notifications-container">
        <h2>Notificaciones</h2>
        <ul>
            <!-- Aquí se mostrarán las notificaciones dinámicamente -->
            <li>Notificación 1</li>
            <li>Notificación 2</li>
            <li>Notificación 3</li>
            <!-- Puedes repetir la estructura <li> para mostrar más notificaciones -->
        </ul>
    </div>
</body>
</html>
