<div class="notifications-container">
    <div class="notifications-header">
        <h2>Notificaciones</h2>
    </div>
    <div class="notifications-list">
        <!-- Aquí se mostrarán las notificaciones -->
        <div class="notification-item">
            <p>Notificación 1</p>
            <span class="notification-date">Fecha: 2024-05-06</span>
        </div>
        <div class="notification-item">
            <p>Notificación 2</p>
            <span class="notification-date">Fecha: 2024-05-05</span>
        </div>
        <!-- Agrega más notificaciones según sea necesario -->
    </div>
    <div class="profile-actions">
        <a href="notificaciones.html" class="action-link">
            <p><a href="proyectoFinal2.php?action=notificaciones">Notificaciones</a></p>
            <!--<img src="path_to_notifications_icon" alt="Notificaciones">-->
        </a>
        <a href="favoritos.html" class="action-link">
            <p><a href="proyectoFinal2.php?action=favoritos">Favoritos</a></p>
        </a>
        <a href="historial.html" class="action-link">
            <p><a href="proyectoFinal2.php?action=historial">Historial</a></p>
        </a>
        
    </div>
</div>


