<div class="profile-container">
    <div class="profile-picture">
        <img src="path_to_user_picture" alt="Foto de Perfil">
    </div>

    <div class="profile-info">
        <h2>Nombre de Usuario</h2>
        <!-- Más información del perfil aquí -->
        <button onclick="window.location.href='editarPerfil.html'">Editar Perfil</button>
    </div>
    <div class="profile-actions">
        <a href="notificaciones.html" class="action-link">
            <p><a href="proyectoFinal2.php?action=notificaciones">Notificaciones</a></p>
            <!--<img src="path_to_notifications_icon" alt="Notificaciones">-->
        </a>
        <a href="favoritos.html" class="action-link">
            <p><a href="proyectoFinal2.php?action=favoritos">Favoritos</a></p>
        </a>
        <a href="historial.html" class="action-link">
            <p><a href="proyectoFinal2.php?action=historial">Historial</a></p>
        </a>
        
    </div>
</div>