<div class="register-container">
    <h2>Crear Cuenta</h2>
    <form action="proyectoFinal.php?action=register" method="post">
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="text" name="aPaterno" placeholder="Apellido Paterno" required>
        <input type="text" name="aMaterno" placeholder="Apellido Materno" required>
        <input type="email" name="email" placeholder="Correo electrónico" required>
        <input type="text" name="username" placeholder="Nombre de usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <input type="text" name="calle" placeholder="Calle" required>
        <input type="text" name="numero" placeholder="Número de Exterior" required>
        <input type="text" name="colonia" placeholder="Colonia" required>
        <input type="text" name="cp" placeholder="Código Postal" required>
        <div class="schedule-container">
            <h3>Horario de Clases</h3>
            <div id="scheduleEntries">
                <!-- Los horarios se añadirán aquí dinámicamente -->
            </div>
            <button type="button" id="addSchedule">Añadir Horario</button>
        </div>
        <button type="submit" name="register">Registrarse</button>
    </form>
    <p>¿Ya tienes una cuenta? <a href="login.html">Inicia sesión aquí</a></p>
</div>