<body>
    <div class="container">
        <h1>Historial de Búsquedas</h1>
        {MENSAJE}
        <table class="table-users">
            <thead>
                <tr>
                    <th>Término Buscado</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <!-- BEGIN HISTORIA -->
                <tr>
                    <td>{TERMINO_BUSCADO}</td>
                    <td>{FECHA}</td>
                </tr>
                <!-- END HISTORIA -->
            </tbody>
        </table>
    </div>
    <div class="navigation">
        <a href="router.php?action=dashboard">Inicio</a>
    </div>
</body>