<div class="register-container">
    <h2>Crear Cuenta</h2>
    <form action="router.php" method="post">
        <input type="hidden" name="action" value="registrar">
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="text" name="ap_paterno" placeholder="Apellido Paterno" required>
        <input type="text" name="ap_materno" placeholder="Apellido Materno" required>
        <input type="email" name="email" placeholder="Correo electrónico" required>
        <input type="text" name="username" placeholder="Nombre de usuario" required>
        <input type="password" name="contrasena" placeholder="Contraseña" required>
        <input type="text" name="calle" placeholder="Calle" required>
        <input type="text" name="numero" placeholder="Número de Exterior" required>
        <input type="text" name="colonia" placeholder="Colonia" required>
        <input type="text" name="cp" placeholder="Código Postal" required>
        <button type="submit" name="regBot">Registrarse</button>
    </form>
    <p>¿Ya tienes una cuenta? <a href="router.php?action=entrar">Inicia sesión aquí</a></p>
</div>