/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: auto;
}

/* Cabecera común */
header {
    background: #ba0707;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 960px;
}

/* Contenedor principal para centralización de contenido */
.container, .table-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 960px;
    width: 100%;
}

/* Inputs y botones estandarizados */
input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #ba0707;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #841717;
}

/* Estilos para la búsqueda y la información del usuario */
.search-bar, .admin-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 20px;
}

.search-bar input[type="text"], .search-bar button {
    flex-grow: 1;
    margin: 0 5px;
}

/* Estilos para tablas y acciones */
.table-users {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.table-users th, .table-users td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.table-users th {
    background-color: #f2f2f2;
}

.action-link {
    padding: 5px 10px;
    color: white;
    background-color: #ba0707;
    border-radius: 3px;
    text-decoration: none;
    margin-right: 5px;
}

.action-link.edit-button {
    background-color: #4CAF50;
}

.action-link.delete-button {
    background-color: #f44336;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Otros elementos específicos */
.profile-circle img, .profile-picture img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ffffff;
}

.notifications span {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #ff0000;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.75em;
}

.profile-container, .profile-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.profile-info, .schedule-container {
    text-align: center;
    margin-top: 20px;
}