		{MENSAJE_BIENVENIDA}
		<table border = 1 width="100%">
			<tr>
				<th>
					Nombre
				</th> 
				<th>
					Ciudad
				</th> 
				<th>
					Estado
				</th> 
				<th>
					Nacimiento
				</th> 
				<th>
					Muerte
				</th>
			</tr>
				
<!-- BEGIN PRESIDENTE -->
			<tr>
				<td>
					{AP_PATERNO} {AP_MATERNO} {NOMBRE}
				</td> 
				<td>
					{CIUDAD}
				</td>
				<td>
					{ESTADO}
				</td> 
				<td>
					{NACIMIENTO}
				</td> 
				<td>
					{MUERTE}
				</td>
			</tr>
<!-- END PRESIDENTE -->

		</table>

